name: SE333_CI
on:
  push:
    branches:
      - main

jobs:
  SE333_CI_JOB:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repo
        uses: actions/checkout@v4

      - name: setupJava
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          architecture: x64

      - name: Install Linter
        run: echo "Maven plugin brings in Linter"

      - name: Run Checkstyle
        run: mvn checkstyle:checkstyle --no-transfer-progress

      - name: Upload Checkstyle Result
        uses: actions/upload-artifact@v4
        with:
          name: checkstyle-report
          path: target/checkstyle-result.xml

      - name: Run Maven Test
        run: mvn test --no-transfer-progress

      - name: Jacoco Report
        run: |
          mvn jacoco:report --no-transfer-progress
          echo "JaCoCo report generated in target/site/jacoco"

      - name: Upload Jacoco Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco